body {
  padding: 0px;
  margin: 0px; }

#main {
  width: 100vw; }

#landing-intro-wrapper {
  min-height: 100vh;
  background-color: #0057ee;
  box-shadow: 10px 0px 25px rgba(0, 0, 0, 0.3); }

#logo-top {
  margin-top: 10%;
  color: white; }
  #logo-top span {
    font-size: 1.5rem; }
  @media screen and (max-width: 1023px) {
    #logo-top {
      margin-top: 15%;
      font-size: 1.5rem; }
      #logo-top span {
        font-size: 1rem; } }

.white-btn {
  background-color: white;
  color: #0057ee;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.4s; }

.white-btn:hover {
  background-color: #e0e0e0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); }

#mobile-contact-btn-wrapper {
  text-align: right;
  margin-top: 5%;
  display: none; }
  #mobile-contact-btn-wrapper button {
    width: 80%; }
  @media screen and (max-width: 1023px) {
    #mobile-contact-btn-wrapper {
      display: block; } }

@media screen and (max-width: 1023px) {
  .hide-on-mobile {
    display: none; } }

#search-wrapper {
  margin-top: 30%; }

#site-search {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
  outline: none;
  padding-left: 10%;
  color: white; }

::placeholder {
  color: rgba(255, 255, 255, 0.61);
  font-size: 1.2rem; }

#intro-wrapper {
  margin-left: 4%; }

#profile-picture-wrapper {
  margin-top: 30%; }
  #profile-picture-wrapper img {
    border-radius: 100px;
    border: 4px solid white; }

#about-wrapper {
  margin-top: 15%; }
  #about-wrapper > div > p {
    color: white; }

#impress-btn-wrapper {
  margin-top: 1%; }
  #impress-btn-wrapper button {
    width: 70%; }
  @media screen and (max-width: 1023px) {
    #impress-btn-wrapper button {
      width: 90%; } }

#navbar-wrapper > div {
  text-align: right; }

.blue-btn {
  color: white;
  background-color: #0057ee;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.4s; }

.blue-btn:hover {
  background-color: #0047c2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); }

#contact-btn-blue {
  margin-top: 3%;
  margin-right: 3%;
  width: 20%; }

#display-slider-wrapper {
  margin-top: 3%;
  height: 60vh; }

#project-cards-wrapper {
  margin-top: 7%; }

.project-card {
  border-top: 3px solid #0057ee;
  height: 8vh;
  margin-left: 2%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }
  .project-card .text {
    padding: 5% 0px 0px 10%;
    font-weight: 600; }

.project-card-active {
  border-top: 3px solid #0057ee;
  background-color: #0057ee;
  height: 8vh;
  margin-left: 2%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); }
  .project-card-active .text {
    padding: 5% 0px 0px 10%;
    font-weight: 600;
    color: white; }

#scholarly-slider-wrapper {
  padding-top: 8%; }
  #scholarly-slider-wrapper h4 {
    margin-top: 8%; }

#scholarly-disp-img {
  margin-top: 0%; }

#scholarly-logo-wrapper {
  margin-left: 5%; }

#scholarly-desc {
  padding-top: 9%;
  padding-left: 9%;
  font-size: 0.9em;
  font-weight: 500; }

#scholarly-btn-erapper {
  padding: 8% 0% 0% 8%; }
  #scholarly-btn-erapper button {
    width: 70%; }

.hide {
  display: none !important; }

#js-notifier-slider-wrapper {
  padding-top: 8%; }
  #js-notifier-slider-wrapper h4 {
    margin-top: 8%; }

#js-notifier-disp-img {
  margin-top: 0%; }

#js-notifier-logo-wrapper {
  padding-top: 3%;
  margin-left: 5%; }

#js-notifier-desc {
  padding-top: 9%;
  padding-left: 9%;
  font-size: 0.9em;
  font-weight: 500; }

#js-notifier-btn-erapper {
  padding: 8% 0% 0% 8%; }
  #js-notifier-btn-erapper button {
    width: 70%; }

#page-meter-slider-wrapper {
  padding-top: 8%; }
  #page-meter-slider-wrapper h4 {
    margin-top: 8%; }

#page-meter-disp-img {
  margin-top: 0%; }

#page-meter-logo-wrapper {
  margin-left: 5%; }

#page-meter-desc {
  padding-top: 9%;
  padding-left: 9%;
  font-size: 0.9em;
  font-weight: 500; }

#page-meter-btn-erapper {
  padding: 8% 0% 0% 8%; }
  #page-meter-btn-erapper button {
    width: 70%; }

#mobile-project-display-parent {
  padding-top: 18%;
  display: none; }
  @media screen and (max-width: 1023px) {
    #mobile-project-display-parent {
      display: block; } }

#mobile-project-main-title {
  text-align: center; }

.mobile-project-cards {
  min-height: 30vh;
  border-left: 5px solid #0057ee;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin: auto;
  margin-top: 9%;
  text-align: left;
  padding-top: 8%;
  padding-left: 8%;
  padding-bottom: 8%; }
  .mobile-project-cards button {
    margin-top: 6vh;
    width: 100%; }
  .mobile-project-cards .tech-icons {
    width: 15%; }
  .mobile-project-cards .css {
    width: 11%; }
  .mobile-project-cards #tools-used {
    margin-top: 6%; }

.center {
  text-align: center; }

.slider {
  display: none; }

.show {
  display: block !important; }
